// -----------------------------------------------------------------------------
// Everything!
// -----------------------------------------------------------------------------
*, *::before, *::after
  box-sizing: border-box
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Links in general.
// -----------------------------------------------------------------------------
a
  color: inherit
  text-decoration: none
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Default image styling.
// -----------------------------------------------------------------------------
img
  display: block
  max-width: 100%
// -----------------------------------------------------------------------------
