// -----------------------------------------------------------------------------
// Common font weights.
// (http://www.w3.org/TR/css3-fonts/#font-weight-prop)
// -----------------------------------------------------------------------------
// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)
// -----------------------------------------------------------------------------


$font-sans: "adelle-sans", sans-serif
$font-serif: "adelle", serif
$font-nav: "proxima-nova", sans-serif

// -----------------------------------------------------------------------------

$pixelBase : 16
@mixin font-size($sizeValue: 1.6)
  font-size: ($sizeValue) + px
  font-size: (($sizeValue) / $pixelBase)  + rem

$baseline-px: 16px
@mixin rem($property, $px-values)
  $baseline-rem: $baseline-px / 1rem
  #{$property}: $px-values
  @if type-of($px-values) == "number"
    #{$property}: $px-values / $baseline-rem
  @else
    $rem-values: unquote("")
    @each $value in $px-values
      @if $value == 0 or type-of($value) == "string" or type-of($value) == "color"
        $rem-values: append($rem-values, $value)
      @else
        $rem-values: append($rem-values, $value / $baseline-rem)
    #{$property}: $rem-values


// -----------------------------------------------------------------------------
// Document basics.
// -----------------------------------------------------------------------------
:root
  color: $text-color
  font:
    family: $font-sans
    size: 16px
  line-height: 1.4em
  text-rendering: optimizeLegibility
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Headlines.
// -----------------------------------------------------------------------------
// h1
// h2
// h3
// -----------------------------------------------------------------------------

a
  color: $color-green
  text-decoration: none
  transition: color .3s ease

  &:hover
    color: lighten($color-green, 30%)

p
  +font-size(16)
  font-family: $font-sans
  letter-spacing: 0.4px
  line-height: 1.7

h1
  color: #fff
  +font-size(55)
  margin-top: 70px
  font-family: $font-nav

h2
  border-bottom: 1px solid $color-gray-light
  padding-bottom: 17px
  color: $color-blue
  font-family: $font-serif
  font-weight: normal
  +font-size(34)
  letter-spacing: 0.3px
  margin-top: 60px

  @media only screen and (min-width: 768px)
    margin-top: 100px

  span
    display: block
    max-width: $viewport-xlarge
    width: 100%
    margin: 0 auto
    padding: 0 $spacing
    line-height: 1.2

    @media only screen and (min-width: 768px)
      padding: 0 $spacing

    a
      +font-size(18)
      background: $color-green
      border-radius: 3px
      color: $color-white
      display: inline-block
      margin-left: 10px
      padding: 5px 9px 3px
      transform: translateY(-4px)
      border: 2px solid $color-green
      transition: all .3s ease

      &:hover
        background: transparent
        color: $color-green
        transform: translateY(-4px) scale(1.05)

      @media only screen and (max-width: #{$viewport-medium - 1})
        display: inline-block
        +font-size(18)
        margin-top: 14px


h3
  color: $color-blue
  font-family: $font-serif
  font-weight: 600
  +font-size(22)
  // @extend %font-smoothing-antialiased
  letter-spacing: 0.2px

h4
  color: $color-blue
  font-family: $font-serif
  +font-size(18)
  font-weight: 600
  letter-spacing: 0.2px
