.#{$ns}-banner
  transition: all .2s $curve

  &:hover
    transform: scale(1.02)

    .#{$ns}-banner--content
      opacity: 1


  img
    cursor: pointer


.#{$ns}-banner--content
  @extend %box

  transition: all 1s $curve

  opacity: 0
