.#{$ns}-card
  transition: all .2s ease
  cursor: pointer
  // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1)
  // border-radius: 3px
  display: block
  overflow: hidden

  &:hover
    transform: scale(1.02)

    img
      transform: scale(1.2)

    .#{$ns}-card--content
      transform: scale(1.0055) translateX(0.5px)



.#{$ns}-card--image
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  transition: transform 1s ease


.#{$ns}-card--content
  @extend %box
  background: $color-white
  z-index: 9999
  position: relative
  transition: all .3s ease

  h3
    margin: 0 0 15px 0

  p
    margin: 0
    color: $color-blue-light
